*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}

.headerBack{
    height: 100vh;
    background: url(../media/fondoPrueba2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 40%;
}

.navBar{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    z-index: 3;
}

.flexCenter{
    width: 100%;
    display: flex !important; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links{
    width: 30vw;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 0;
}

.link{
    text-decoration: none;
    color: black;
}

.btn{
    border: none;
    background: none;
    font-size: 15px;
}

.tituloConteiner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 8rem;
    color: black;
}

.btnEmpieza{
    text-align: center;
    text-decoration: none;
    width: 8vw;
    position: absolute;
    bottom: 0px;
    left: 45%;
    z-index: 3;
    padding: 10px 0;
    border: none;
    border-radius: 125px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #FF2965;
    font-size: 20px;
    color: white;
}

.sectionBack1{
    height: 100vh;
    background: url(../media/fondoPrueba.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.section1Container{
    height: 100vh;
    padding: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.flex-End{
    display: flex;
    justify-content: flex-end;
}

.infoContainer{
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title{
    font-size: 3rem;
    margin: 2rem 0;
}

.info{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-right: 2rem;
}

.imgEChair{
    height: 250px;
}

.lista{
    display: initial;
}

.item{
    margin-left: 2rem;
}

.imgContainer{
    grid-column: 1/3;
    border-radius: 50px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sillaImg{
    height: 400px;
    width: 400px;
    margin: auto 0;
    border-radius: 2rem;
}

.btnUp{
    text-align: center;
    text-decoration: none;
    width: 8vw;
    position: absolute;
    left: 45%;
    z-index: 3;
    padding: 10px 0;
    border: none;
    border-radius: 125px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #FF2965;
    font-size: 20px;
    color: white;
}

.btnDown{
    text-align: center;
    text-decoration: none;
    width: 8vw;
    position: absolute;
    bottom: -100vh;
    left: 45%;
    z-index: 3;
    padding: 10px 0;
    border: none;
    border-radius: 125px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #FF2965;
    font-size: 20px;
    color: white;
}

/*Seccion2*/

.sectionBack2{
    height: 100vh;
    background: url(../media/fondo3.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section2Container{
    height: 60%;
    padding: 10% 20%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.infoContainer2{
    grid-column: 1/2;
}

.carrusel{
    grid-column: 2/5;
    margin: auto 0;
}

.imgCarrusel{
    height: 150px;
    margin: 0 auto;
}
/*Seccion3*/

.sectionBack3{
    height: 100vh;
    background: url(../media/fondo4.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section3Container{
    height: 90%;
    padding: 10% 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
}

.titleResenas{
    grid-column: 1/4;
    text-align: center;
    font-size: 2rem;
}


.tituloResenas{
    font-size: 3rem;
}

.classCarruselResenas{
    grid-column: 1/4;
}

.cardContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card{
    height: 15rem;
    width: 15rem;
    background-color: white;
    border: solid 1px black;
    border-radius: 1rem;
}

.card-title{
    border-bottom: solid 1px black;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #eeeeee;
    padding-top: 0.5rem;
}

.userImg{
    height: 75px;
    margin: 0 auto;
}

.userName{
    text-align: center;
}

.calificacion{
    display: flex;
    justify-content: center;
}

.review{
    margin: 0 1rem;
}

/*seccion4*/

.ingresaALaApp{
    text-decoration: none;
    color: black;
    border: solid 2px black;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: #eeeeee;
}

.ingresaALaApp:hover{
    color: black;
}

.sectionBack4{
    height: 100vh;
    background: url(../media/fondo5.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.appBtn{
    background-color: #eeeeee;
    padding: 1rem 2rem;
    border: solid 3px black;
    border-radius: 2rem;
    color: black;
}

/*OffCanvas*/

.offCanvasInput{
    height: 0.5rem;
    width: 20rem;
    font-size: 1rem;
    background: transparent;
    border-radius: 0.5rem;
    border: none;
    border-bottom: solid 1px black;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: all 0.5s;
    
}

.offCanvasInput::placeholder {
    font-size: 0;
}

.offCanvasInput:focus{
    height: 2rem;
    border-top: none;
}

.offCanvasInput:focus::placeholder{
    font-size: 1rem;
}

.headerAppBack{
    height: 100vh;
    background: url(../media/app/fondoInicioSesion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*--------------app.html----------------*/

.appMain{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LogInContainer{
    height: 500px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LogInTitle{
    text-align: center;
    font-size: 2rem;
    color: black;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.LogInText{
    text-align: center;
    font-size: 1rem;
    color: black;
    margin-top: 1rem;
}

.btnLogIn{
    width: 100%;
    align-items: center;
    background: none;
    border: none;
    border-bottom: solid 1px black;
    font-size: 1.5rem;
    color: black;
    margin: 2rem 0;
}

.ChairsContainer{
    height: 500px;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.textCenter{
    text-align: center;
}

.Chair{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.Chairs{
    width: 80%;
    text-align: center;
}

.controller{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.btnController{
    background: none;
    border: none;
}

.gridController{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.btnControllerUp{
    grid-column: 1/4;
    margin: 0 auto;
}

.btnControllerLeft{
    grid-column: 1/3;
    display: flex;
    justify-content: flex-start;
}

.footer{
    background-color: #212121;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: ghostwhite;
}

.footerTop{
    display: grid;
    grid-template-columns: repeat(3, 25vw);
}

.textA{
    text-align: center;
}

.footerLogo{
    display: flex;
    justify-content: flex-start;
}

.footerEscudo{
    display: flex;
    justify-content: flex-end;
}

.imgCenter {
    display: flex;
    justify-content: center;
}

.footerMid{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 25vw);
}

.members{
    display: flex;
    justify-content: space-around;
}

.listaStyle{
    list-style: none;
}

.redes{
    display: flex;
    justify-content: center;
}

@media (min-width:950px) and (max-width:1300px) {
    .sillaImg{
        height: 200px;
        margin: auto 0;
        border-radius: 2rem;
    }

    .info{
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1rem;
    }

    .card{
        height: 10rem;
        max-width: 10rem;
        background-color: white;
        border: solid 1px black;
        border-radius: 1rem;
        margin: auto 2rem;
    }
    
    .card-title{
        border-bottom: solid 1px black;
        border-radius: 1rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #eeeeee;
        padding-top: 0.5rem;
    }

    .userImg{
        height: 35px;
        margin: 0 auto;
    }

    .userName{
        font-size: 0.75rem;
        text-align: center;
    }

    .review{
        font-size: 0.65rem;
        margin: 0 1rem;
    }
}

@media (min-width:451px) and (max-width:949px) {

    .infoContainer{
        grid-column: 1/4;
    }

    .imgContainer{
        border-radius: 50px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column: 1/4;
    }

    .sillaImg{
        height: 300px;
        width: 300px;
        border-radius: 2rem;
    }

    .titulo{
        font-size: 40px;
    }

    .links{
        width: 300px;
    }

    .btnEmpieza{
        font-size: 10px;
    }

    .scrollBtn{
        height: 20px;
    }

    .sillaImg{
        height: 300px;
        margin: auto 0;
        border-radius: 2rem;
    }

    .info{
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 0.75rem;
    }

    .infoContainer2{
        grid-column: 1/5;
    }
    
    .carrusel{
        grid-column: 1/5;
        margin: auto 0;
    }

    .cardContainer{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .card{
        height: 10rem;
        max-width: 10rem;
        background-color: white;
        border: solid 1px black;
        border-radius: 1rem;
    }
    
    .card-title{
        border-bottom: solid 1px black;
        border-radius: 1rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #eeeeee;
        padding-top: 0.5rem;
    }

    .userImg{
        height: 35px;
        margin: 0 auto;
    }

    .userName{
        font-size: 0.75rem;
        text-align: center;
    }

    .review{
        font-size: 0.65rem;
        margin: 0 1rem;
    }
}

@media (max-width:450px) {

    .titulo{
        font-size: 25px;
    }

    .btnEmpieza{
        width: 15vw;
    }

    .btnUp{
        width: 15vw;
    }

    .btnDown{
        width: 15vw;
    }

    .infoContainer{
        grid-column: 1/4;
    }

    .imgContainer{
        border-radius: 50px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column: 1/4;
    }

    .sillaImg{
        max-height: 200px;
        max-width: 200px;
        border-radius: 2rem;
    }

    .links{
        width: 200px;
    }

    .link{
        font-size: 0.65rem;
    }

    .btnEmpieza{
        font-size: 10px;
    }

    .scrollBtn{
        height: 20px;
    }

    .sillaImg{
        height: 300px;
        margin: auto 0;
        border-radius: 2rem;
    }

    .info{
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 0.75rem;
    }

    .infoContainer2{
        grid-column: 1/5;
    }

    .section3Container{
        padding: 10% 5%;
    }
    
    .carrusel{
        grid-column: 1/5;
        margin: auto 0;
    }

    .cardContainer{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .card{
        height: 10rem;
        max-width: 10rem;
        background-color: white;
        border: solid 1px black;
        border-radius: 1rem;
    }
    
    .card-title{
        border-bottom: solid 1px black;
        border-radius: 1rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #eeeeee;
        padding-top: 0.5rem;
    }

    .userImg{
        height: 35px;
        margin: 0 auto;
    }

    .userName{
        font-size: 0.75rem;
        text-align: center;
    }

    .review{
        font-size: 0.65rem;
        margin: 0 1rem;
    }

    .LogInTitle{
        font-size: 1rem;
    }

    .controller{
        flex-direction: column;
    }

    .gridController{
        margin: 1rem 0;
    }
}